html { /*comment*/
    margin: 0;
    padding: 0;
    /*background-color: #???*/

}
body {
    width: 80%; /*fix this!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    margin: 1 em; /*fix this!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    font: 100% "Times New Roman", Georgia, serif; /*decide if want????????????*/
    /*padding: 
    background: 
    border-bottom: -- not sure I want this*/
}
h1 {
    font-family: 'Brush Script MT', cursive;
    font-size: 2em;
    font-weight: normal;
    margin-right: auto;
	margin-left: auto;
	padding: 2.5% 2.5% 0;

    /*font-style: 
    color: 
    background-color: */
}
h2 {
    /*needed???????*/
}
p {
    line-height: 2;
    /*text-align: justify; --should it be blocked or like old script??
    width: 
    margin: 
    margin-bottom: -- not sure I want this*/
}
a {
    color: orange; /*you sure?? what about purple*/
}
a:hover {
    color: purple; /*maybe swap??*/
}
